{
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "meteor": true,
        "mocha": true
    },
    "rules": {
        "no-func-assign": 0,
        "no-use-before-define": [2, "nofunc"]
    },
    "extends": "airbnb/base"
}