{
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "meteor": true
    },
    "rules": {
        "no-func-assign": 0,
        "no-use-before-define": [2, "nofunc"]
    },
    "globals": {
        "AccountsTemplates": false,
        "SimpleSchema": false,
        "Heroes": false,
        "Hero": false
    },
    "extends": "airbnb/base"
}
